* {
  text-decoration: none;
  margin: 0;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
  width: 1100px;
  margin-left: 1%;
}

nav {
  position: relative;
  top: 100px;
  left: 5%;
  display: grid;
  grid-template-columns: repeat(7 , 2fr) 3fr;
  grid-column-gap:1px;
  width: 90%;
  background: linear-gradient(#777, #999 50%,#666 50%, #777);
  border-radius: 5px;
  border: 1px solid #555;
  color: white;
  justify-self: stretch;
  align-items: center;
}

nav a{
  padding: .2em;
  color:white;
  justify-self: center;
  align-self: center;
}

.fa-apple {
  font-size: 2em;
  justify-self: center;
  color: lightgray ;
}

#search {
  width: 10em;
  height: 20px;
  background: inherit;
  border: none;
  color: inherit;
}

.applesearch {
  border-top: 2px solid #555;
  border-bottom: 2px solid #aaa;
  border-radius: 15px;
  background: linear-gradient(#666, #999 50%,#777 50%, #999);
  padding: 2px;  
}

main {
  position: static;
  margin-top: -40px;
}

.main-section {
  background-image: url("https://archive.fo/UW4oR/c737ac2a39d31e8407c5d08a73daddc5ddcf5d3e.jpg");
  background-repeat: no-repeat;
  background-clip: border-box;
  background-position:bottom;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  align-items: center;
  padding: 10%;
}

.main-section h1, h2, h3 {
  color: white;
  font-weight: 200;
  padding-bottom: 2rem;
  text-align: center;
}

.main-section h1 {
  font-size: 60px;
}

.main-section h2 {
  font-size: 32px;
}

.main-section h3 {
  font-size: 25px;
}

.pictures {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  
}

.pictures img {
  object-fit: scale-down;
  width: 100%;
  padding-top: 2px;
}

footer {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  font-size: 11px;
  grid-auto-flow: column;
  margin: 1.5em;
}

footer div{
  display: flex;
  height: 30pix;
  flex-direction: row;
  column-gap: .5em;
}

footer span{
  border-left: 2px solid lightgray;
  padding-left: .4em;
}

footer a {
  color: #1f96d2;
}

footer a:visited {
  border: 1px dotted #666;
}
