* {
  text-decoration: none;
  margin: 0;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  width: 1100px;
  margin: auto;
}

nav {
  position: relative;
  top: 100px;
  width: 95%;
  border-radius: 5px;
  margin: auto;
}

nav ul {
  display: grid;
  grid-template-columns: repeat(7, 2fr) 3fr;
  place-content: stretch;
  border-radius: 5px;
  border: 1px solid #555;
  list-style: none;
}

li {
  padding: 5px 30px 5px 5px;
  text-align: center;
  background: linear-gradient(#777, #999 50%, #666 50%, #777);
  border: 1px solid #555;
  margin-left: -40px;
}

li,
li a {
  color:white;
}

nav li:hover {
  background: #555;
}

.fa-apple {
  color: lightgray;
}

#search {
  width: 85%;
  height: 100%;
  background: inherit;
  border: none;
  color: inherit;
}

.applesearch {
  border-top: 2px solid #555;
  border-bottom: 2px solid #aaa;
  border-radius: 15px;
  background: linear-gradient(#777, #888 50%, #666 50%, #777);
}

main {
  position: static;
  margin-top: -40px;
}

.main-section {
  background-image: url("https://archive.fo/UW4oR/c737ac2a39d31e8407c5d08a73daddc5ddcf5d3e.jpg");
  background-repeat: no-repeat;
  background-clip: border-box;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  align-items: center;
  padding: 10%;
}

.main-section h1,
h2,
h3 {
  color: white;
  font-weight: 200;
  padding-bottom: 2rem;
  text-align: center;
}

.main-section h1 {
  font-size: 60px;
}

.main-section h2 {
  font-size: 32px;
}

.main-section h3 {
  font-size: 25px;
}

.main-section h1:hover,
h2:hover,
h3:hover {
  color: #111;
}

.pictures {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.pictures img {
  object-fit: scale-down;
  width: 100%;
  padding-top: 2px;
}

.pictures img:hover {
  object-fit: none;
}

footer {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  font-size: 11px;
  grid-auto-flow: column;
  margin: 1.5em;
}

footer div {
  display: flex;
  flex-direction: row;
  column-gap: 0.5em;
}

footer span {
  border-left: 2px solid lightgray;
  padding-left: 0.4em;
}

footer a {
  color: #1f96d2;
}

footer a:hover {
  color: black;
}

footer a:visited {
  border: 1px dotted #666;
}
